@font-face {
  font-family: "Noto Sans JP";
  src: url("~@/assets/fonts/NotoSansJP-Regular.otf");
}
@font-face {
  font-family: "Noto Sans JP Black";
  src: url("~@/assets/fonts/NotoSansJP-Black.otf");
}
@font-face {
  font-family: "Noto Sans JP Bold";
  src: url("~@/assets/fonts/NotoSansJP-Bold.otf");
}
@font-face {
  font-family: "Noto Sans JP Light";
  src: url("~@/assets/fonts/NotoSansJP-Light.otf");
}
@font-face {
  font-family: "Noto Sans JP Medium";
  src: url("~@/assets/fonts/NotoSansJP-Medium.otf");
}
@font-face {
  font-family: "Noto Sans JP Thin";
  src: url("~@/assets/fonts/NotoSansJP-Thin.otf");
}